<div>
  <h1>Welcome to Skills Tracker Application</h1>
</div>
<div>
  <form novalidate [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mt-20">
      <div class="label-margin">Login ID </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" formControlName="loginId" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">Password </div>
      <div><input type="password" class="text-box-border input-text input-text-padding" formControlName="password" /></div>
    </div>

    <div class="mt-20 mb-20"><button class="mb-20 button-submit" type="submit">Sign in</button></div>
  </form>
</div>