<div class="container search-profile">
  <form novalidate [formGroup]="searchProfileFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mt-20 search-element">
      <div class="label-margin">First Name </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" formControlName="firstName" /></div>
    </div>
    <div class="mt-20 mb-20 search-element">
      <div class="label-margin">Last Name </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" formControlName="lastName" /></div>
    </div>
    <div class="mt-20 mb-20 search-element">
      <div class="label-margin">Associate Id </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" minlength="5" maxlength="30"
          formControlName="associateId" /></div>
    </div>

    <div class="mt-20 mb-20 search-element">
      <div class="label-margin">Technical Skill Name </div>
      <div>
        <!-- <input type="text" class="text-box-border input-text input-text-padding" minlength="5" maxlength="30"
          formControlName="technicalSkillName" /> -->
        <select formControlName="technicalSkillName" class="drop-down">
          <option>Choose one</option>
          <option *ngFor="let technicalSkillName of technicalSkillNameList" [value]="technicalSkillName">
            {{technicalSkillName}}
        </select>
      </div>
    </div>

    <div class="mt-20 mb-20 search-element">
      <div class="label-margin">Soft Skill Name </div>
      <div><!-- <input type="text" class="text-box-border input-text input-text-padding" minlength="5" maxlength="30"
          formControlName="softSkillName" /> -->
        <select formControlName="softSkillName" class="drop-down">
          <option>Choose one</option>
          <option *ngFor="let skillsoftSkillsName of skillsoftSkillsList" [value]="skillsoftSkillsName">
            {{skillsoftSkillsName}}
        </select>
      </div>

    </div>


    <div class="mt-20 mb-20 search-element"><button class="mb-20 button-submit" type="submit">Search</button></div>
    <div class="label-margin">{{searchCrteria}}</div>
    <div *ngIf="resultsFound">
      <div class="mt-20 labeldiv" *ngFor="let profile of searchResults">
        <div class="ml-10 container">Skill profile of {{profile.associateId}} : {{profile.firstName}},
          {{profile.lastName}}</div>
        <div class="ml-10 container">
          <div class="labeldiv">First Name</div>
          <div class="valuediv">{{profile.firstName}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Last Name</div>
          <div class="valuediv">{{profile.lastName}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Associate ID</div>
          <div class="valuediv">{{profile.associateId}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Mobile</div>
          <div class="valuediv">{{profile.mobile}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Email</div>
          <div class="valuediv">{{profile.email}}</div>
        </div>
        <div class="mt-20">
          <div>Technical Skills List</div>
          <div class="ml-10 container" *ngFor="let techSkill of profile.technicalSkillsList">
            <div class="labeldiv">{{techSkill.skillName}}</div>
            <div class="valuediv">{{techSkill.skillExpertiseLevel}}</div>
          </div>
        </div>
        <div class="mt-20">
          <div>Soft Skills List</div>
          <div class="ml-10 container" *ngFor="let softSkill of profile.softSkillsList">
            <div class="labeldiv">{{softSkill.skillName}}</div>
            <div class="valuediv">{{softSkill.skillExpertiseLevel}}</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>