<div class="add-profile">
  <form novalidate [formGroup]="addProfileFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mt-20">
      <div class="label-margin">First Name </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" name="firstName" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">Last Name </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" name="lastName" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">Associate Id </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" minlength="5" maxlength="30" name="associateId" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">Mobile </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" minlength="10" maxlength="10" name="mobile" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">Email </div>
      <div><input type="text" class="text-box-border input-text input-text-padding" name="email" /></div>
    </div>

    <div class="mt-20 mb-20">
      <div class="label-margin">Technical Skills </div>
    </div>

   <div class="mt-20 mb-20">
      <div class="label-margin">HTML-CSS-JAVASCRIPT </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="htmlcssjs" name="htmlcssjs" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">ANGULAR </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="angular" name="angular" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">REACT </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="react" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">SPRING </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="spring" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">RESTFUL </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="restful" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">HIBERNATE </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="hibernate" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">GIT </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="git" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">DOCKER </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="docker" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">JENKINS </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="jenkins" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">AWS </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="aws" /></div>
    </div>


    <div class="mt-20 mb-20">
      <div class="label-margin">Soft Skills </div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">SPOKEN </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="htmlcssjs" name="spoken" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">COMMUNICATION </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="angular" name="communication" /></div>
    </div>
    <div class="mt-20 mb-20">
      <div class="label-margin">APTITUDE </div>
      <div><input type="number" min="0" max="20" class="text-box-border input-number input-text-padding" id="react" name="aptitude" /></div>
    </div>

    <div class="mt-20 mb-20"><button class="mb-20 button-submit" type="submit">Add Profile</button></div>
  </form>
</div>