<div [ngClass]="{'add-profile-confirm' : successMessage, 'add-profile': !successMessage}">
  <div>
    <h1>Add New Profile</h1>
  </div>
  <div *ngIf="successMessage">
    <div class="label-margin">{{successMessage}} You can update your profile post 14 days of adding new one. Click here
      to edit your <a class="linkclass" (click)="navigateToUpdate()">profile</a> shown below</div>
    <div>
      <div class="mt-20">
        <div class="ml-10 container">
          <div class="labeldiv">First Name</div>
          <div class="valuediv">{{userSkillProfile.firstName}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Last Name</div>
          <div class="valuediv">{{userSkillProfile.lastName}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Associate ID</div>
          <div class="valuediv">{{userSkillProfile.associateId}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Mobile</div>
          <div class="valuediv">{{userSkillProfile.mobile}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Email</div>
          <div class="valuediv">{{userSkillProfile.email}}</div>
        </div>
        <div class="mt-20">
          <div class="label-margin">Technical Skills List</div>
          <div class="ml-10 container" *ngFor="let techSkill of userSkillProfile.technicalSkillsList">
            <div class="labeldiv">{{techSkill.skillName}}</div>
            <div class="valuediv">{{techSkill.skillExpertiseLevel}}</div>
          </div>
        </div>
        <div class="mt-20">
          <div class="label-margin">Soft Skills List</div>
          <div class="ml-10 container" *ngFor="let softSkill of userSkillProfile.softSkillsList">
            <div class="labeldiv">{{softSkill.skillName}}</div>
            <div class="valuediv">{{softSkill.skillExpertiseLevel}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="!successMessage">
    <form novalidate [formGroup]="addProfileFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mt-20">
        <div class="label-margin">First Name </div>
        <div><input type="text"
            [ngClass]="{'validation-error': addProfileFormGroup.controls['firstName'].touched && addProfileFormGroup.controls['firstName'].invalid}"
            class="text-box-border input-text input-text-padding" formControlName="firstName" maxlength="30" />
          <div class="error-message"
            *ngIf="addProfileFormGroup.controls['firstName'].touched && addProfileFormGroup.controls['firstName'].invalid">
            First Name is mandatory in 5 - 30 in length and must contain only alpha characters.</div>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Last Name </div>
        <div><input type="text"
            [ngClass]="{'validation-error': addProfileFormGroup.controls['lastName'].touched && addProfileFormGroup.controls['lastName'].invalid}"
            class="text-box-border input-text input-text-padding" formControlName="lastName" maxlength="30" />
          <div class="error-message"
            *ngIf="addProfileFormGroup.controls['lastName'].touched && addProfileFormGroup.controls['lastName'].invalid">
            Last Name is mandatory in 5 - 30 in length and must contain only alpha characters.</div>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Associate Id </div>
        <div><input type="text"
            [ngClass]="{'validation-error': addProfileFormGroup.controls['associateId'].touched && addProfileFormGroup.controls['associateId'].invalid}"
            class="text-box-border input-text input-text-padding" minlength="5" maxlength="30"
            formControlName="associateId" />
          <div class="error-message"
            *ngIf="addProfileFormGroup.controls['associateId'].touched && addProfileFormGroup.controls['associateId'].invalid">
            AssociateID must be minimum 5 in length, prefixed with CTS and followed by max 27 numericals</div>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Mobile </div>
        <div><input type="tel"
            [ngClass]="{'validation-error': addProfileFormGroup.controls['mobile'].touched && addProfileFormGroup.controls['mobile'].invalid}"
            class="text-box-border input-text input-text-padding" minlength="10" maxlength="10" pattern="[0-9]{10}"
            (keydown)="filterNonNumbers($event, 'mobile')" formControlName="mobile" />
          <div class="error-message"
            *ngIf="addProfileFormGroup.controls['mobile'].touched && addProfileFormGroup.controls['mobile'].invalid">
            Mobile number is invalid.</div>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Email Address </div>
        <div><input type="text"
            [ngClass]="{'validation-error': addProfileFormGroup.controls['email'].touched && addProfileFormGroup.controls['email'].invalid}"
            class="text-box-border input-text input-text-padding" maxlength="45" formControlName="email" />
          <div class="error-message"
            *ngIf="addProfileFormGroup.controls['email'].touched && addProfileFormGroup.controls['email'].invalid">
            Email Address is invalid.</div>
        </div>
      </div>

      <div class="mt-20 mb-20">
        <div class="label-margin">Technical Skills </div>
      </div>

      <div class="mt-20 mb-20">
        <div class="label-margin">HTML-CSS-JAVASCRIPT </div>
        <div>
          <select formControlName="htmlcssjs" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">ANGULAR </div>
        <div>
          <select formControlName="angular" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">REACT </div>
        <div>
          <select formControlName="react" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">SPRING </div>
        <div>
          <select formControlName="spring" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">RESTFUL </div>
        <div>
          <select formControlName="restful" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>

      <div class="mt-20 mb-20">
        <div class="label-margin">HIBERNATE </div>
        <div>
          <select formControlName="hibernate" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">GIT </div>
        <div>
          <select formControlName="git" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">DOCKER </div>
        <div>
          <select formControlName="docker" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">JENKINS </div>
        <div>
          <select formControlName="jenkins" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">AWS </div>
        <div>
          <select formControlName="aws" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>


      <div class="mt-20 mb-20">
        <div class="label-margin">Soft Skills </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">SPOKEN </div>
        <div>
          <select formControlName="spoken" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">COMMUNICATION </div>
        <div>
          <select formControlName="communication" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select>
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">APTITUDE </div>
        <div><select formControlName="aptitude" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>

      <div class="mt-20 mb-20"><button class="mb-20 button-submit" type="submit"  [disabled]="!addProfileFormGroup.valid">Add Profile</button></div>

    </form>
  </div>
</div>