<div [ngClass]="{'update-profile-confirm' : successMessage || displayMessage, 'update-profile': !successMessage || !displayMessage}">
  <div>
    <h1>Update Profile </h1>
  </div>
  <div *ngIf="!isEditable()" class="label-margin">{{displayMessage}} You can review the profile added below.</div>
  <div *ngIf="updateSuccess || !isEditable()">
    <div *ngIf="isEditable()" class="label-margin">{{successMessage}} Click here to edit your <a class="linkclass"
        (click)="navigateToUpdate()">profile</a> shown below</div>
    <div>
      <div class="mt-20">
        <div class="ml-10 container">
          <div class="labeldiv">First Name</div>
          <div class="valuediv">{{userSkillProfile.firstName}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Last Name</div>
          <div class="valuediv">{{userSkillProfile.lastName}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Associate ID</div>
          <div class="valuediv">{{userSkillProfile.associateId}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Mobile</div>
          <div class="valuediv">{{userSkillProfile.mobile}}</div>
        </div>
        <div class="ml-10 container">
          <div class="labeldiv">Email</div>
          <div class="valuediv">{{userSkillProfile.email}}</div>
        </div>
        <div class="mt-20">
          <div class="label-margin">Technical Skills List</div>
          <div class="ml-10 container" *ngFor="let techSkill of userSkillProfile.technicalSkillsList">
            <div class="labeldiv">{{techSkill.skillName}}</div>
            <div class="valuediv">{{techSkill.skillExpertiseLevel}}</div>
          </div>
        </div>
        <div class="mt-20">
          <div class="label-margin">Soft Skills List</div>
          <div class="ml-10 container" *ngFor="let softSkill of userSkillProfile.softSkillsList">
            <div class="labeldiv">{{softSkill.skillName}}</div>
            <div class="valuediv">{{softSkill.skillExpertiseLevel}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="!updateSuccess && isEditable()">
    <form novalidate [formGroup]="updateProfileFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mt-20">
        <div class="label-margin">First Name </div>
        <div>{{userSkillProfile.firstName}}
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Last Name </div>
        <div>{{userSkillProfile.lastName}}
        </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Associate Id </div>
        <div>{{userSkillProfile.associateId}}</div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Mobile </div>
        <div>{{userSkillProfile.mobile}}</div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">Email Address </div>
        <div>{{userSkillProfile.email}}</div>
      </div>

      <div class="mt-20 mb-20">
        <div class="label-margin">Technical Skills </div>
      </div>

      <div class="mt-20 mb-20">
        <div class="label-margin">HTML-CSS-JAVASCRIPT </div>
        <div><select formControlName="htmlcssjs" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">ANGULAR </div>
        <div><select formControlName="angular" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">REACT </div>
        <div><select formControlName="react" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">SPRING </div>
        <div><select formControlName="spring" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">RESTFUL </div>
        <div><select formControlName="restful" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">HIBERNATE </div>
        <div><select formControlName="hibernate" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">GIT </div>
        <div><select formControlName="git" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">DOCKER </div>
        <div><select formControlName="docker" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">JENKINS </div>
        <div><select formControlName="jenkins" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">AWS </div>
        <div><select formControlName="aws" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>

      <div class="mt-20 mb-20">
        <div class="label-margin">Soft Skills </div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">SPOKEN </div>
        <div><select formControlName="spoken" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">COMMUNICATION </div>
        <div><select formControlName="communication" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20">
        <div class="label-margin">APTITUDE </div>
        <div><select formControlName="aptitude" class="drop-down">
            <option *ngFor="let skillLevel of skillLevel" [value]="skillLevel">
              {{skillLevel}}
          </select></div>
      </div>
      <div class="mt-20 mb-20"><button class="mb-20 button-submit" type="submit">Update Profile</button></div>
    </form>
  </div>
</div>