.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-box-border {
  border: 1 px #cecece;
}

.ml-10 {
  margin-left: 10px;
}

.mt-20 {
  margin-left: 20px;
}

.ml-0 {
  margin-left: 0px;
}

.label-margin {
  margin-left: 0px;
  margin-bottom: 10px;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px;
}

.input-text {
  border-radius: 5px;
  border: 1px solid #cecece;
  height: 35px;
  font-size: 16px;
  color: #555557 !important;
  font-family: "DM Sans", sans-serif !important;
  font-weight: 400 !important;
  width: 100%;
}
.input-number {
  border-radius: 5px;
  border: 1px solid #cecece;
  height: 35px;
  font-size: 16px;
  color: #555557 !important;
  font-family: "DM Sans", sans-serif !important;
  font-weight: 400 !important;
  width: 20%;
}

.button-submit {
  width: 100%;
  height: 45px;
  font-family: "DM Sans", sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px;
}

.input-text-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}